@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
:root {
  --fore-color: ivory;
  --universal-margin: 0.3rem;
  user-select: none;
  font-size: 0.9rem;
  box-sizing: border-box;
}

body {
  background: black;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.3em;
  grid-auto-rows: auto;
  font-size: 12px;
  text-align: left;
}

.buttons #server {
  /*  border: 2px solid ivory; */
  border-radius: 5px;
  transition: all 100ms ease;
}

.button {
  cursor: pointer;
  background-color: transparent;
  font-family: 'Audiowide', cursive;
  font-size: 16px;
  padding: 5px;
  color: ivory;
  border: 2px solid ivory;
  border-radius: 5px;
  transition: all 100ms ease;
  max-width: 290px;
}

.button:hover {
  border-radius: 10px;
  background-color: rgb(128, 255, 212, 0.1);
}

#leftSidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  left: 0;
  bottom: auto;
  font-family: 'Audiowide', cursive !important;
  background-color: #262126;
  overflow-x: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  border-radius: 10px;
}

.schrift {
  font-family: 'Audiowide', cursive;
  text-align: left;
}

/*  @media only screen and (max-width: 768px) {

  } */

#arrow {
  position: fixed;
  z-index: 1;
  font-family: 'Audiowide', cursive;
  font-size: 4rem;
  margin-left: 0px;
  color: ivory;
  cursor: pointer;
  background-color: transparent;
  opacity: 33%;
  border: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.slider {
  width: 100%;
}

#label {
  text-align: center;
}

#box1 {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: auto;
  background-color: #262126;
  overflow-x: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
  z-index: 1;
}
#box1>#txt3 {
  position: absolute;
  bottom: 70%;
  right: 38.2%;
  text-align: center;
  font-family: 'Audiowide', cursive !important;
  font-size: 2rem;
}

#box1 > div {
  position: absolute;
  bottom: 50%;
  right: 38.2%;
  text-align: center;
  font-family: 'Audiowide', cursive !important;
  font-size: 5rem;
  transition: all 0.01s;
}

#box2 {
  height: 50%;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #262126;
  overflow-x: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
  z-index: 1;
}

#box2 > div {
  position: absolute;
  left: 38.2%;
  text-align: center;
  font-family: 'Audiowide', cursive !important;
  font-size: 5rem;
  transition: all 0.01s;
}
